.swiper-button {
    position: absolute;
    bottom: 0;
    width: 35px;
    height: 15px;
    margin-bottom: 84px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    column-gap: 46px;
}

.swiper-horizontal>.pagination {
    position: absolute;
    width: auto;
    left: auto;
    right: 59px;
    bottom: 90px;
    display: flex;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);

}

.pagination-bullet {
    display: block;
    width: 15px;
    height: 2px;
}

.pagination-bullet-active {
    background-color: #FFFFFF;
}